* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    display: grid;
    height: 100%;
    place-items: center;
    background: #000000;
}

.center {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.outer {
    position: relative;
    margin: 0 50px;
    background: #000000;
}

.button {
    height: 100px;
    width: 550px;
    border-radius: 50px;
}

.circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

/* .boxs {
    background-color: rgb(0, 255, 229);
    padding: 15px 25px;
    border-radius: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 25px;
    width: 250px;
    height: 250px;
    cursor: pointer;
}

.boxs:hover {
    font-weight: bold;
    background-color: rgb(29, 84, 213);
    color: #c8ff00;
} */

.outer button,
.outer span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.outer button {
    background: #000000;
    color: #f2f2f2;
    outline: none;
    border: none;
    font-size: 20px;
    z-index: 9;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.button button {
    height: 98px;
    width: 548px;
    border-radius: 50px;
}

.circle button {
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.outer span {
    height: 100%;
    width: 100%;
    background: inherit;
}

.button span {
    border-radius: 50px;
}

.circle span {
    border-radius: 50%;
}

.outer:hover span:nth-child(1) {
    filter: blur(7px);
}

.outer:hover span:nth-child(2) {
    filter: blur(14px);
}

.outer:hover {
    background: linear-gradient(#14ffe9, #ffeb3b, #ae00ff);
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

@media (max-width: 640px) {
    .center {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .outer {
        margin: 50px 0;
    }
}