* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    width: 100%;
}

body {
    background-color: #000000;
    width: 100%;
    height: 100vh;
}

canvas {
    display: block;
    min-width: 640px;
    height: auto;
}

.card {
    width: 640px;
    height: 400px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    transition: 1s;
}

.card:hover {
    transform: rotate(-5deg);
}

.card:hover .outside {
    transform: rotateY(-130deg);
}

.outside,
.inside {
    height: 100%;
    width: 50%;
    position: absolute;
    left: 50.1%;
    border-radius: 20px;
}


.inside {
    background: linear-gradient(to bottom, #4385ff, #4992ff,  #4ea4ff, #76b8ff, #aecdff,  #dee9ff 85%);
    line-height: 3;
    padding: 20px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    left: 50%;
}   



.outside {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 1;
    transform-origin: left;
    transition: 2s;
    cursor: pointer;
}

.front,
.back {
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    border-radius: 20px;
}

.front {
    background: linear-gradient(to bottom, #e3c6ff, #dbb5ff,  #c88dff, #b668ff, #b260ff,  #9129f4 85%);

    /* background-color: #a749ff; */
}

.front p{
    color: #000000 !important;
}

.back {
    transform: rotateY(180deg);
    background: linear-gradient(to left, #40a6ff85, #4090ff56 50%);
}

.cake {
    width: 100%;
    position: absolute;
    bottom: 30px;
}

.top-layer,
.middle-layer,
.bottom-layer {
    z-index: 100;
    height: 75px;
    width: 240px;
    background-repeat: repeat;
    background-size: 60px 100px;
    background-position: 28px 0;
    background-image: linear-gradient(transparent 50px,
            #ffffff 50px,
            #ffffff 60px,
            transparent 60px),
        radial-gradient(circle at 30px 8px, #773a0b 40px, #ffc43b 31px);
    border-radius: 10px 10px 0 0;
    position: relative;
    margin: auto;
}

.middle-layer {
    transform: scale(0.85);
    top: 6px;
}

.top-layer {
    transform: scale(0.7);
    top: 26px;
}

.color1 {
    color: #00caff;
}

.color2 {
    color: #ff82ff;
}

.color3 {
    color: #ff9989;
}

.color4 {
    color: #ffef5b;
}

.color5 {
    color: #5fffcc;
}


.candle {
    height: 45px;
    width: 15px;
    background: repeating-linear-gradient(45deg,
            #00caff 0,
            #ff82ff 5px,
            #ff9989 5px,
            #ffef5b 5px,
            #00ffae 5px);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 170px;
}

.candle:before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    background: repeating-linear-gradient(300deg,
            #ff1900 0,
            #f59506 5px,
            #f1ee23 5px,
            #7e15fe 5px,
            #00ffae 5px);
    border-radius: 0 50% 50% 50%;
    bottom: 48px;
    transform: rotate(45deg);
    left: -1px;
}

.outside p {
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 7px;
    color: #000000;
    font-weight: bold;
}



.inside a {
    text-decoration: none;
    list-style: none;
}

.inside h3 {
    /* margin-top: 25px; */
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.inside p {
    font-weight: bold;
    word-wrap: break-word;
    font-size: 15px;
    font: oblique bold cursive;
    margin: 0;
    padding: 0;
    line-height: 2; /* Ajusta el interlineado (1 = sin espaciado extra) */
}

.inside a img {
    position: absolute;
    bottom: 9px;
    right: 10px;
    width: 60px;
    height: 60px;
    animation: jump 0.6s infinite ease-in-out;
}

/* Animación de salto */
@keyframes jump {
    0% {
        transform: translateY(0); /* Posición inicial */
    }
    50% {
        transform: translateY(-20px); /* Sube la imagen */
    }
    100% {
        transform: translateY(0); /* Vuelve a la posición inicial */
    }
}



@media only screen and (max-width: 550px) {


    .card {
        margin: 0;
        top: 50%;
        left: -80px;
        width: 100% !important;
        height: 500px;
    }

    .outside,
    .inside {
        height: 100%;
        width: 100%;
        position: absolute;
        border-radius: 20px;
    }

    /*
    .front,
    .back {
        height: 500px;
        min-width: 380px;
    }*/


    .outside p {
        font-size: 40px;
    }

    .inside p {
        margin-top: 0;
        font-size: 17px;
    }
}